/*sets the body to fit the entire screen*/
html, body {
    height: 100%;
    width: 100%;
    background-size: cover;
}

#landing {
    display: table;
    width: 100%;
    height: 100%;
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), 
    url('83837.jpg') no-repeat center;
    background-size: cover;
}

img {
    position: center;
    width: 100px;
    height: 100px;
}

#landing .title {
    position: absolute;
    top: 40%;
    transform: translate3d(-5%, -40%, 0);
}

#landing .title h1 {
    font-family: 'Muli', sans-serif;
    color: #FFFFFF;
    font-size: 95px;
}

#landing .title h2 {
    font-family: 'Multi', sans-serif;
    color: #FFFFFF;
}

#landing .title h3 {
    font-family: 'Muli', sans-serif;
    color: #FFFFFF;
}

#landing .down span.arrow {
    display: inline-block;
    width: 55px;
    height: 55px;
    cursor: pointer;
    line-height: 57px;
    border-radius: 50%;
    background: #FFFFFF;
}

#landing .down {
    text-align: center;
    position: absolute;
    bottom: 100px;
    left: 15px;
    width: 100%;
}

/* searchbull */
/* less than xs */
@media(max-width:768px) {
    #landing .title h1 {
    font-size: 90px;
    }
}
/* more than xs*/
@media(min-width:768px) {
    #landing .title h1 {
    font-size: 120px;
    }
}
/* medium+ */
@media(min-width:992px){
    #landing .title h1 {
    font-size: 145px;
    }
}
/* large+ */
@media(min-width:1200px){
    #landing .title h1 {
    font-size: 160px;
    }
}

/* scr */
/* less than xs */
@media(max-width:768px) {
    #landing .title h2 {
    font-size: 40px;
    }
}
/* more than xs*/
@media(min-width:768px) {
    #landing .title h2 {
    font-size: 55px;
    }
}
/* medium+ */
@media(min-width:992px){
    #landing .title h2 {
    font-size: 60px;
    }
}
/* large+ */
@media(min-width:1200px){
    #landing .title h2 {
    font-size: 75px;
    }
}

/* h3 */
/* less than xs */
@media(max-width:768px) {
    #landing .title h3 {
    font-size: 19px;
    }
}
/* more than xs*/
@media(min-width:768px) {
    #landing .title h3 {
    font-size: 27px;
    }
}
/* medium+ */
@media(min-width:992px){
    #landing .title h3 {
    font-size: 29px;
    }
}
/* large+ */
@media(min-width:1200px){
    #landing .title h3 {
    font-size: 75px;
    }
}

#home .navbar {
    font-family: 'Muli', sans-serif;
    font-size: 30px;
    text-align: center;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
}

#home .navbar li a {
    padding-right: 50px;
    padding-left: 50px;
    color: #3E52B3;
}

#home img {
    width:45px;
    height:45px;
}

#home .logo:hover {
    -webkit-transform: rotate(180deg) scale(1) skew(0deg) translate(0px);
}
#home .logo {
    -webkit-transition: All .8s ease;
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);

}


.jumbotron {
    background-color: transparent;
    padding-bottom: 25px;
}

.jumbotron h1 {
    font-family: 'Muli', sans-serif;
    color: #3E52B3;
    font-size: 400%;
}

.jumbotron p {
    color: black;
    font-family: 'Muli', sans-serif;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
      /*padding-bottom: 10px;*/
  }
  
  .carousel-control.right {
      background-image: none;
  }
  
  .carousel-control.left {
      background-image: none;
  }

#gallery {
    font-size: 20px;
    color: green;
    display: table;
    width: 100%;
    height: 100%;
}

#testimonials {
    font-size: 20px;
    color: yellow;
    background: 
    linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),
    url('Computer-police.jpg') no-repeat center;
    background-size: cover;
}

footer {
    background-color:#3E52B3;
    font-size: 14px;
    color: white;
}

#info {
    font-size: 19px;
    color: #00ff00;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),
    url('Anti-David_Cameron_protest_02.jpg') no-repeat center;
    background-size: cover;
.glyphicon-chevron-right:before, .glyphicon-chevron-left:before{
    color: #3E52B3;
}

.well {
    border: 0px;
    padding: 0px;
    padding-top: 15px;
}

p {
    color: black;
}

#testimonials {
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),
    url('Computer-police.jpg') no-repeat center;
    background-size: cover;
}

#testimonials h1 {
    color: #3E52B3;
    font-size: 60px;
    text-align: center;
}

footer {
    background-color: #3E52B3;
}

footer p {
    color: white;
    font-size: 14px;
}